html, p, h1{
  cursor: default;
}

div {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

h1, h2 {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

mark {
  background-color: rgb(253, 255, 159);
}

.title {
  font-size: 40px;
  padding: 10px 0px;
  margin-right: -55px;
  
}

.aboutcolumn {
  padding-left: 5%;
  padding-top: 20px;
  background-color: #F3FFF6;
  display: flex;
  justify-content: center;
  cursor: default;
}

.aboutcolumn1 {
  float: left;
  width: 60%;
  padding: 20px;
  max-width: 750px;
  border: 1.5px solid #C6DBD0;
  border-radius: 23px;
  background-color: #FBFBFB;
  
}

.aboutcolumn2 {
  float: left;
  width: 35%;
  max-width: 350px;
  padding-top: 65px;
  padding-left: 5px;
}

.c {
  background-color: #FBFBFB;
  border-radius: 23px;
  border: 1.5px dashed #C6DBD0;
  padding: 20px;
  margin-bottom: 19px;
}

ol {
  padding: 10px 30px 20px 20px;
}

p, li {
  font-size: 17px;
  line-height: 1.5;
}

h2 {
  font-size: 35px;
  padding: 10px 0px;
}

a {
  text-decoration: none;
  color: blue;
}
