<mat-toolbar color="primary" class="navbar">
    <div> <a class="grammark" ><h1>Grammark 4.0 Project CLAWS:</h1> <h3>Concise Language and Academic Writing Suggestions</h3></a> </div>
    <div class = "linksHighlight">
        <a class="linkedpages" routerLink="">HOME</a>
        <a class="linkedpages" routerLink="about">ABOUT</a>
        <a class="linkedpages" href="https://github.com/markfullmer/grammark">SOURCE CODE</a>
        <a class="linkedpages" routerLink="download">DOWNLOAD</a>
        <a class="linkedpages" routerLink="resources">RESOURCES</a>
        <a class="linkedpages" routerLink="admin">ADMIN</a>
    </div>
</mat-toolbar>


<div class="mainDisplay" >
    <router-outlet></router-outlet>
    <div [hidden]="!showOutlet">
    <router-outlet (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)" name="details"></router-outlet>
    </div>
</div>


