.mat-toolbar.mat-primary {
    background: #00704a;
    color: #fff;
    height: 80px;
  }
.navbar {
    justify-content: space-between;
}

h1, h3 {
  font-size: 18px;
  line-height: 1;
}

.linkedpages {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 110px;
  text-align: center;
  font-size: 13px;
}
.linkedpages:hover{
  color: #ADADAD;
}

.linksHighlight {
-webkit-text-stroke-width: .25px;
-webkit-text-stroke-color: #ffffff;

}

a:active {
  color: blue;
}

.mainDisplay {

  align-items: center;

}

.first {
  background-color: #f3fef7;
}

.second {
  background-color: #f3fef7;
}

