<mat-toolbar color="primary" class="navbar">
    <div> <a class="grammark" ><h1>Grammark 4.0 Project CLAWS:</h1> <h3>Concise Language and Academic Writing Suggestions</h3></a> </div>
    <div class = "linksHighlight">
        <a class="linkedpages" routerLink="">HOME</a>
        <a class="linkedpages" routerLink="about">ABOUT</a>
        <a class ="linkedpages" href="https://github.com/markfullmer/grammark">SOURCE CODE</a>
        <a class="linkedpages" routerLink="download">DOWNLOAD</a>
        <a class="linkedpages" routerLink="resources">RESOURCES</a>
        <a *ngIf="auth.userLoggedIn" class="linkedpages" routerLink="/dashboard">ADMIN Page</a>
        <a *ngIf="auth.userLoggedIn" class="linkedpages" (click)="logout()" routerLink="">Log Out</a>
        <a *ngIf="!auth.userLoggedIn" class="linkedpages" routerLink="/login">ADMIN Log In</a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>