    <div class="adminHolder">
    <div class="tablediv">
        <table>
          <tbody>
            <tr class="odd">
              <td><a class="tablerow">Passive Voice</a></td>
            </tr>
            <tr class="even">
              <td><a class="tablerow" (click)="wordinessLoad()">Wordiness</a></td>
            </tr>
            <tr class="odd">
              <td><a class="tablerow" (click)="academicLoad()">Academic Style</a></td>
            </tr>
            <tr class="even">
              <td><a class="tablerow" (click)="grammarLoad()">Grammar</a></td>
            </tr>
            <tr class="odd">
              <td><a class="tablerow" (click)="nominalizationsLoad()">Nominalizations</a></td>
            </tr>
            <tr class="even">
              <td><a class="tablerow">Sentences</a></td>
            </tr>
            <tr class="odd">
              <td><a class="tablerow" (click)="eggcornsLoad()">Eggcorns</a></td>
            </tr>
            <tr class="even">
              <td><a class="tablerow" (click)="transitionsLoad()">Transitions</a></td>
            </tr>
          </tbody>
        </table>
      </div>   
      <div class="cardDiv">
        <div class="container">
            <div class="row">
              <div class="" *ngIf="ruleCards.length>0">
                <form [formGroup]="addRule" (ngSubmit)="add()">
                  <p>
                      <mat-form-field appearance="outline">
                          <mat-label>Rule Check</mat-label>
                          <input autocomplete="off" formControlName="rule" type="text" matInput placeholder="Display Name">
                      </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Feedback</mat-label>
                        <input autocomplete="off" formControlName="fix" type="text" matInput placeholder="Display Name">
                    </mat-form-field>
                </p>
                  <button mat-raised-button color="primary">Add</button>
              </form>
              </div>
              <div class="col-md-3 mx-auto my-5" *ngFor="let card of ruleCards">
                <mdb-card>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>{{card.rule}}</h4>
                    </mdb-card-title>
          
                    <mdb-card-text>
                      {{card.suggestion}}
                    </mdb-card-text>
          
                    <button mdbBtn color="primary" (click)="delete(card)">Delete</button>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>
          </div>
      </div>
    </div>
