
<mat-toolbar color="white" class="navbar">
  <a class="linkedpages" routerLink="../../overview">Overview</a>
  <div on-mouseenter = "reHighlight()">
  <a class="linkedpages" routerLink="../passive-voice-fix">Passive Voice</a>
  </div>
  <a class="linkedpages" routerLink="../wordiness-fix">Wordiness</a>
  <a class="linkedpages" routerLink="../academic-style-fix">Academic Style</a>
  <a class="linkedpages" routerLink="../grammar-fix">Grammar</a>
  <a class="linkedpages" routerLink="../nominalizations-fix">Nominalizations</a>
  <a class="linkedpages" routerLink="../sentences-fix">Sentences</a>
  <a class="linkedpages" routerLink="../eggcorns-fix">Eggcorns</a>
  <a class="linkedpages" routerLink="../transitions-fix">Transitions</a>
  <a class="linkedpages" (click)="startOverClick()" routerLink="">Start Over</a>
</mat-toolbar>

<div class="alert-box" [style.background-color]="passiveVoiceAlertColor">
  <b class="box">{{ passiveVoiceNumber }} instances ({{ passiveVoiceScore }}% of sentences)</b>
</div>

<mat-toolbar color="white" class="category">
  <mat-toolbar-row class="title"><b>Passive Voice</b></mat-toolbar-row>
  <mat-toolbar-row class="description">{{passiveVoiceFeedback}}</mat-toolbar-row>
</mat-toolbar>

<div>
  <div class="column1">
    <mat-card *ngIf="passiveVoiceScore>0" class="inDepth">
      <mat-card-title>Generic Feedback</mat-card-title>
      <mat-card-content>
        <b>Compare:</b>
        <ul>
          <li>"Mark ate Planet Mars." (active)</li> 
          <li>"Planet Mars was eaten by Mark" (passive)</li>
        </ul>
        <b>What to do:</b><br>
        Think "who did what", not "what was done by whom"(you\'ll probably need to reverse the sentence order). In grammar-speak, avoid <i>is, was, were or be, being, been</i> followed by a past tense verb.
        <br><b>Example fixes</b>
        <ul>
          <li>it <mark><del>is</del> accept<del>ed</del></mark> that... --> we accept that...</li>
          <li>needs to <mark><del>be</del> fund<del>ed</del></mark> by Britain... --> Britain needs to fund...</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <!-- <button (click)="reHighlight()" class="rehighlight">Highlight Errors</button> -->
    <p id="userinput" name="userinput">{{ message }}</p>
    <br>
  </div>

  <div class="column2">
    <h1 class="feedback"><b>Passive Voice Found - {{ passiveVoiceNumber }} error(s)</b></h1>
    <table>
			<td>
				<tr *ngFor="let tableData of passiveVoiceUserTable.find">{{tableData}}</tr>
      </td>
      <td>
        <tr *ngFor="let tableData of passiveVoiceUserTable.suggestion">{{tableData}}</tr>
      </td>
		</table>
  </div>
</div>
