@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  /* background-color: #2F6E4D; */
  background-image: linear-gradient(#F3FFF6, #2F6E4D);
  font-family: 'Work Sans', sans-serif;
}

.column {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#grammarChecker {
  text-align: center;
  line-height: .1;
  color: #2F6E4D;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#grammarDescription {
  text-align: center;
  line-height: 1;
  color: #6E8C7C;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#textboxBackground {
  width: 100%;
  background: url("backgroundgradient.jpg");
  margin-top: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*make sure when scrolling its fixed*/
  padding-top: 35px;
  padding-bottom: 50px;
}

#attentionGrabber {
  font-size: 20px;
  font-weight: 500;
  color: #2F6E4D;
  -webkit-text-stroke-width: .25px;
  /* -webkit-text-stroke-color: #ffffff; */
  text-align: left;
  margin-bottom: 10px;
  padding-left: 7px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.column2 {
  float: left;
  width: 300px;
  padding-right: 20px;
}

.c2 {
  background-color: #b1b1bd;
  border-color: black;
  border: groove;
  padding-left: 20px;
  margin-bottom: 19px;
}

.c2 h2 {
  padding-top: 10px;
  margin-bottom: 5px;
}

.c2 ul {
  padding-bottom: 10px;
}

.c2 ul li {
  padding-bottom: 5px;
}

.homecolumns {
  padding: 20px;
}

.homedescription {
  color: #2F6E4D;
  text-align: left;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.homedescription h3 {
  font-size: 15px;
  line-height: .5;
  padding-left: 7px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#userinput {
  height: 400px;
  min-height: 100px;
  width: 95%;
  resize: none;
  border-width: 1.5px;
  padding: 15px;
  font-size: 14px;
  border-color: #C6DBD0;
  border-radius: 23px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

::placeholder {
  color: #ADADAD;
}

#submitbutton {
  background-color: #2F6E4D;
  color: #FFFFFF;
  width: 250px;
  height: 60px;
  font-size: 25px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  /* font-weight: bold; */
  margin-left: 35%;
  display: table-cell;
  vertical-align: middle;
  /* border: 5px solid black; */
  border-radius: 23px;
  border: none;
}

#submitbutton:hover {
  background-color: #ADADAD;
  /* border-color: #000000; */
  color: #2F6E4D;
  cursor: pointer;
}

ul {
  padding-left: 20px;
  font-size: 20px;
}

.selfimage {
  padding-top: 15px;
  padding-bottom: 15px;
}