

.resultdescription {
  font-size: 25px;
  padding: 10px 0px;
  padding-left: 9%;
}

th, td {
  border: 1.5px solid #C6DBD0;
  padding: 20px;
}

.odd {
  background-color: #FFFFFF;
}

.even {
  background-color:#FBFBFB;
}

.categoryHead {
  font-size: 25px;
  background-color: #FBFBFB;
  border-top-left-radius: 23px;
  font-weight: 100;
}

.resultsHead {
  font-size: 25px;
  background-color: #FBFBFB;
  border-top-right-radius: 23px;
  font-weight: 100;
}

.lastRow {
  border-bottom-right-radius: 23px;
}

.lastRowName {
  border-bottom-left-radius: 23px;
}

.tablerow {
  text-decoration: none;
  color: black;
  font-size: 23px;
}

.tablecss {
  background-color: white;
}

.startoverbutton {
  margin-top: 20px;
  background-color: #2F6E4D;
  color: #FFFFFF;
  width: 250px;
  height: 60px;
  border-radius: 23px;
  font-size: 25px;
  /* font-weight: bold; */
  margin-left: 14%;
  /* font-style: oblique; */
  display: table-cell;
  vertical-align: middle;
  border: none;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.startoverbutton:hover {
  background-color: #ADADAD;
  color: #2F6E4D;
  cursor: pointer;
}

.tablediv {
  padding-left: 6%;
}

.columns {
  padding: 20px 30px;
}

.column1 {
  float: left;
  width: 50%;
  padding-bottom: 40px;
}

